<div class="container sign_up">
  <div class="row">
    <div class="col-md-5">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <h1 class="title">Beznevroza</h1>
          <hr />
        </div>
      </div>
      <%= devise_error_messages! %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login_user'}) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: 'form-control', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

            <%= f.submit "Войти", class: 'btn btn-lg btn-primary btn-block'%>
        <% end %>
        <%= render "users/shared/links" %>
    </div>
  </div>
</div>
<!--<video width="640" height="360" id="player1" preload="none">-->
  <!--<source type="video/divx" src="/media/ember/806E3D946E3D8446/Soft/Downloads/AmosTV_10min_HT.divx" />-->
<!--</video>-->
<%= video_tag(["http://download.openbricks.org/sample/H264/big_buck_bunny_1080p_H264_AAC_25fps_7200K.MP4"], id: "video-player", class: "hideme", size: "640x360") %>