<!DOCTYPE html>
<html>
<head>
  <title>Beznevroza</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/messages' %>

  <%= render 'layouts/header' %>
  <%= render 'home/jplayer' %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
